<div id="tag_comments">
    {% for comment in post.comments.all %}
        <ol>
            <em>{{forloop.counter}}. </em>
                <strong>
                    {{ comment.text }}
                </strong>
                <div>
                    <strong>
                    {{ comment.author }}
                    </strong>
                        at
                    <strong>
                    {{ comment.createdata }}
                    </strong>
                    {% if user.id == comment.author.id %}
                        <a class="editLinkForComment" href="{% url "blog:edit_comment" pk=post.id c_id=comment.id%}"> Edit </a>
                    {% endif %}
                </div>
        </ol>
    {% endfor %}
</div>